body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;

  }
  
  input[type="text"] {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
    display: block;
  }
  
  thead {
    background-color: #f9f9f9;
  }
  
  th, td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
    white-space: nowrap;
  }
  
  @media screen and (max-width: 600px) {
    th, td {
      padding: 10px;
      font-size: 14px;
    }
  
    h1 {
      font-size: 24px;
    }
  }
  

  